/*===========TABLE OF CONTENTS============*/
/*
1. GENERAL STYLES
2. HOME PAGE STYLES
3. ABOUT PAGE STYLES
4. LATEST RESEARCH PAGE STYLES
5. FIND US PAGE STYLES
6. FACILITIES PAGE STYLES
7. PEOPLE PAGE STYLES
*/

/*===========SECTION 1: GENERAL STYLES============*/

html {
  scroll-behavior: smooth;
}
body {
  padding-top: 4.2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left {
  display: block;
  float: left;
}
.right {
  display: block;
  float: right;
}
.section {
  background-color: blue;
  margin: 1rem 0;
  padding: 1rem
}
.footer {
  display: block;
  min-height: calc(20vh);
  width: 100%;
  background-color: lime;
  border-style: solid;
  border-color: black;
  bottom: 0;
  padding-top: 1rem;
  text-align: right;
  vertical-align: middle;
}
.footer h7{
  float: right;
  padding: 1rem;
}
.section-content {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: dashed;
  border-color: white;
  width: 100%;
}
.page-section {
  min-height: calc(100vh - 4.2rem);
  width: 100%;
}
.home-section-title{
  padding-top: 1.5rem;
  padding-left: 2rem;
  margin-top: 4.2rem;
  width: 100%;
  background-color: pink;
}
.section-title{
  padding-top: 1.5rem;
  padding-left: 2rem;
  width: 100%;
  background-color: pink;
}
.section-subtitle{
  background-color: orange;
  margin-right: 2rem;
  padding-top: 8px;
}
.content-subtitle{
  display: block;
  background-color: brown;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
}
.half-section {
  background-color: green;
  padding: 1rem;
  width: 48%;
  min-height: calc(100% - 4.2rem);
  text-align: justify;
  padding: 1rem 2rem;
}
.half-section img {
  max-height: 70vh;
  width: 50%;
}
.third-section {
  background-color: purple;
  padding: 1rem;
  width: 30%;
  min-height: calc(100% - 4.2rem);
  margin: auto;
  margin-top: 0;
}
.overlaycont {
  position: relative;
  width: 100%;
  left: inherit;
}
.overlay {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  width: 70%;
  height: 0;
  transition: 0.5s ease;
}
.overlaycont:hover .overlay{
  display: block;
  height: 50%;
}
.overlay-text {
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*===========SECTION 2: HOME PAGE STYLES============*/

.page-content { /*IMPORTANT - DO NOT CHANGE*/
  background-color: red;
  height: 100%;
  width: 100%;
}
#home-content.page-section {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-image: url("../images/home-background-temp.jpg");
  background-size: cover;
}
#home-content img{
  width: 100%;
  min-width: 100px;
}
#home-content h2{
  padding-top: 1rem;
  font-size:calc(18px + 1.2vw);
}
#home-logo.section {
  text-align: center;
  padding: 6rem;
  font-family: "Arial Narrow", Arial, sans-serif;
}
#latest-news.section {
  padding: 4rem;
}
/*===Scroll Icon Code Starts Here===*/
@-webkit-keyframes scroll-down-anim {
    0%{ bottom: 2px; }
    50%{ bottom: 7px; }
    100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
    0%{ bottom: 2px; }
    50%{ bottom: 7px; }
    100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
    0%{ bottom: 2px; }
    50%{ bottom: 7px; }
    100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
    0%{ bottom: 2px; }
    50%{ bottom: 7px; }
    100%{ bottom: 2px; }
}

.scroll-down{
    width: 40px;
    height: 40px;
    margin-left: -20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    text-decoration: none;
}

.scroll-down:hover:before{
    opacity: .6;
}
.scroll-down-icon{
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    left: 50%;
    bottom: 4px;
    color: #111;
    font-size: 15px;

    -webkit-animation: scroll-down-anim 1s infinite;
    -moz-animation: scroll-down-anim 1s infinite;
    -o-animation: scroll-down-anim 1s infinite;
    animation: scroll-down-anim 1s infinite;
    z-index: 2;
}

/*===End of Scroll Icon Code===*/
#homefooter {
  margin-top: 9.5vh;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -50px 0 0 -50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
  transform: translate(0px,auto);
}
@-webkit-keyframes animatebottom {
  0% { transform: translate(0px,100px); }
  100% { transform: translate(0px,auto); }
}

#loadDiv {
  display: none;
}

/*===========SECTION 3: ABOUT PAGE STYLES============*/
#about.page-section {
  width: 100%;
  min-height: calc(100vh - 4.2rem);
  background-color: grey;
  background-size: cover;
}
#about-img.half-section img {
  max-height: 70vh;
  width: 50%;
}

/*===========SECTION 4: LATEST RESEARCH PAGE STYLES============*/
#latest-research.page-section {
  width: 100%;
  min-height: calc(100vh - 4.2rem);
  background-color: black;
  background-size: cover;
}

.third-section img{
  max-height:70vh;
  width: 70%;
}

/*===========SECTION 5: FIND US PAGE STYLES============*/
#contact.page-section .section-content {
  min-height: calc(46vh - 4.2rem);
}
#dummymap {
  visibility: hidden;
  height: 0;
}
#googlemap {
  display: block;
  width: 100%;
  height: calc(45vh - 4.2rem);
  background-color: yellow;
}
/*===========SECTION 6: FACILITIES PAGE STYLES============*/
#gas h4 {
  text-align: center;
}
#gas {
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 1.5px;
}
#gas-carousel.carousel {
  margin: 1rem auto;
  object-fit: cover;
  overflow: hidden;
  width: 60%;
  height: 40vh;
  text-align: center;
  background-color: grey;
}
#gas-carousel.carousel img {
  margin: auto;
  width: 100%;
  display: inline-block;
}
#liquid h4 {
  text-align: center;
}
#liquid-carousel.carousel {
  margin: 1rem auto;
  object-fit: cover;
  overflow: hidden;
  width: 60%;
  height: 40vh;
  text-align: center;
  background-color: grey;
}
#liquid-carousel.carousel img {
  margin: auto;
  width: 100%;
  display: inline-block;
}
.facilities-list {
  margin-left: 8vw;
}
.toplevel ul {
  text-align: left;
}
/*===========SECTION 7: PEOPLE PAGE STYLES============*/
#people-content.container { /*IMPORTANT - DO NOT CHANGE*/
  background-color: red;
  height: 100%;
  width: 100%;
}
.modaltop-img {
  height: 200px;
  width: 133px;
}
.modalbottom-img {
  height: 150px;
  width: 225px;
}
/*===========SECTION 8: PUBLICATIONS PAGE STYLES============*/
.section-table {
  display: block;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: justify;
}

tr th:nth-child(1),td:nth-child(1) {
   text-align: center;
}


table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
